.initialLanguageChip {
	margin: 0px 5px 0px 5px;
}

.translatedLanguageChipDiv {
}

.infoLanguageTop {
	margin-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.btn {
	background-color: #3a3c3d;
}